<nav id="menu">
    <h2>Menu</h2>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/generic">Ipsum veroeros</a></li>
        <li><a href="/generic">Tempus etiam</a></li>
        <li><a href="/generic">Consequat dolor</a></li>
        <li><a href="/element">Elements</a></li>
    </ul>
</nav>